/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set body font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Set header styles */
h1 {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

/* Set navigation styles */
nav {
  display: flex;
  justify-content: center;
  padding: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #666;
}

/* Set form styles */
form {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh; /* Mengatur tinggi form menjadi 100% tinggi viewport */
  display: flex;
  flex-direction: column;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form select,
form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #666;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  font-size: 15px;
}

th {
  font-size: 15px;
}
/* Set error message styles */
.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* Set order list styles */
h2 {
  text-align: center;
  padding: 15px;
  background-color: #333;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #000000;
  text-align: left;
}

table th {
  background-color: #333;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Set confirm order button styles */
form[action="confirm_order.php"] {
  width: 200px;
  margin: 20px auto;
}

form[action="confirm_order.php"] input[type="submit"] {
  width: 100%;
}

/* Set responsive styles */
@media (max-width: 768px) {
  form {
    width: 50%;
  }

  form input[type="submit"] {
    width: 50%;
  }

  form[action="confirm_order.php"] {
    width: 50%;
  }

  form[action="confirm_order.php"] input[type="submit"] {
    width: 100%;
  }
}
