/* Style untuk header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Style untuk navigasi */
nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #eee;
}

nav a:hover {
  background-color: #ccc;
}

/* Style untuk tombol */
button,
input[type="submit"] {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style untuk tabel */
table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 8px;
  text-align: left;
}

/* Style untuk form */
form {
  width: 50%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style untuk halaman laporan */
canvas {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 20px;
}

body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #333; /* Warna latar belakang alternatif jika gambar tidak dimuat */
}

/* Style untuk header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Style untuk navigasi */
nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #eee;
}

nav a:hover {
  background-color: #ccc;
}

/* Style untuk form tambah stok */
form {
  width: 50%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style untuk tabel stok */
table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
}
